
<!-- the pipe | is a way of formatting code -->
<h1>{{ hero.name | uppercase }} Details</h1>

<div><span>id: </span>{{ hero.id}}</div>
<div><span>name: </span>{{ hero.name}}</div>

<!-- two way data binding  -->
<!-- important for forms when submitting via post requests -->
<div>
    <label for=""> Hero Name: </label>
    <input type="text" [(ngModel)]="hero.name">
</div>


<!-- display a list  -->
<h2> Hero List</h2>
<ul class="heroes">
    <li>
        <span class="badge"> {{ hero.id }}</span> {{ hero.name }}
    </li>
</ul>

<!-- display a list of multiple items with click event for each item -->
<!-- applies styling based on click condition -->
<h2>Heroes List</h2>
<ul class="heroes">

    <!-- CSS not working at all -->
    <li *ngFor="let hero of heroes" (click) = "onSelected(hero)" [class.selected]=" hero === selectedHero">
        
        <span class="badge"> {{ hero.id }}</span>
        <span class="name">{{ hero.name }}</span> 
    </li>

    
    <li *ngFor="let hero of heroes">
        <!-- css binding where hero is alias, selectedHero is the currently selected list item retrieved as a click event-->
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelected(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
        </button>
      </li>
</ul>


<!-- importing hero details component and passing in data-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
